body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #ffffff;
  color: #000000;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}

.about,
.help,
.work-stages {
  padding: 80px 0;
}
