.about {
}

.about__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.01em;
  color: #000000;
}

.about__info {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);
}

.about__info-green {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #02ac8f;
}
