.search__btn {
  padding: 0;
  position: absolute;
  top: 12px;
  right: 20px;
  width: 29px;
  height: 28px;
  border: none;
  background-color: #ffffff;
  background-image: url(./../img/search.png);
  background-repeat: no-repeat;

  @media (max-width: 767.98px) {
    position: static;
    transform: translateY(5px);
  }
}

.btn-order {
  padding: 8px 10px;
  background-color: rgba(2, 172, 143, 0.2);
  border: none;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #018b7e;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: rgba(2, 172, 143, 0.4);
  }

  @media (max-width: 1199.98px) {
    font-size: 13px;
    line-height: 16px;
  }
}

.btn-order-yellow {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #000000;
  padding: 15px 25px;
  background-color: #ffe121;
  border-radius: 3px;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: #ffa524;
  }

  @media (max-width: 991.98px) {
    padding: 10px 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: 767.98px) {
    padding: 8px 13px;
    font-size: 13px;
    line-height: 16px;
  }
}

.btn-order-green {
  margin-top: 40px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding: 12px 20px;
  background-color: #02ac8f;
  border-radius: 3px;

  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: #018b7e;
  }
  @media (max-width: 991.98px) {
    font-size: 14px;
    line-height: 17px;
    padding: 10px 15px;
  }

  @media (max-width: 767.98px) {
    margin-top: 14px;
    margin-bottom: 32px;
    padding: 8px 13px;
    font-size: 13px;
    line-height: 16px;
  }
}

.btn-prev {
  opacity: 1;
  width: 30px;
  height: 60px;
  border-radius: 0 100px 100px 0;
  background-color: #02ac8f;
  background-image: url("./../img/btn-slider.png");
  background-repeat: no-repeat;
  background-position: 7px 22px;

  &:hover {
    background-color: #018b7e;
  }
}

.btn-next {
  opacity: 1;
  width: 30px;
  height: 60px;
  border-radius: 0 100px 100px 0;
  background-color: #02ac8f;
  background-image: url("./../img/btn-slider.png");
  background-repeat: no-repeat;
  background-position: 7px 22px;
  transform: rotate(180deg);

  &:hover {
    background-color: #018b7e;
  }
}
