.search {
  position: relative;
}

.search__field {
  height: 44px;
  padding-left: 20px;
  padding-right: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);

  @media (max-width: 767.98px) {
    display: none;
  }
}
