.slider {
  padding: 210px 0 200px;
  background-image: url("./../img/bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -300px 0;
}

.slider__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.slider__title-green {
  color: #01534c;
}

.slider__info {
  margin: 0;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.8);
}
