.work-stages {
  padding-bottom: 45px;
}

.work-stages__title {
  margin: 0;
  margin-bottom: 40px;
  max-width: 270px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.01em;
  color: #000000;

  @media (max-width: 991.98px) {
    font-size: 24px;
    line-height: 29px;
    max-width: none;
    margin-bottom: 30px;
  }
}

.work-stages__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work-stages__item {
  text-align: center;
  max-width: 210px;
  cursor: pointer;
  margin-bottom: 35px;

  &:hover {
    .work-stages__item-title {
      color: #018b7e;
      @media (max-width: 991.98px) {
        color: #000000;
      }
    }

    .work-stages__item-info {
      opacity: 1;
    }

    .arrow-right {
      opacity: 1;
    }
  }

  @media (max-width: 767.98px) {
    max-width: none;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.work-stages__item-img {
  @media (max-width: 991.98px) {
    height: 80px;
  }

  @media (max-width: 767.98px) {
    display: block;
    margin-right: 30px;
  }
}

.work-stages__content {
  max-width: 250px;
  position: relative;
}

.work-stages__item-title {
  margin: 40px 0 9px;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #000000;
  @media (max-width: 991.98px) {
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
  }

  @media (max-width: 767.98px) {
    margin: 10px 0;
  }
}

.work-stages__item-info {
  opacity: 0;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);

  @media (max-width: 991.98px) {
    opacity: 1;
  }

  @media (max-width: 767.98px) {
  }
}

.arrow-right {
  opacity: 0;

  @media (max-width: 991.98px) {
    opacity: 1;
  }

  @media (max-width: 767.98px) {
    position: absolute;
    top: 14px;
    left: 130px;
  }
}
